<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>吃啥？？？？</title>
</head>
<body style="background-color: #818182">



<div style="font-size: 30px; color: #8fd19e; ;">
    吃啥？？？
</div>
<tr style="height: 50px">
</tr>

<table>
    <div style="">
        <tr style="height: 50px">
        </tr>
        <div>
            <form action="/add" method="post" style="height: 50% ;width: 100% ; border: #20c997 ; child-align: auto ; ">
                <tr style="height: 100% ;width: 100% ; border: #20c997 ; ">
                    <td height="40%" width="50%">
                        <input type="submit" id="byhelp" value="自己选"
                               style="color: #7abaff; width: 200px; height: 100px; font-size: 50px"/>
                    </td>
                </tr>

            </form>
        </div>

        <div>
            <tr style="height: 50px">
            </tr>
        </div>

        <div>
            <form action="/chifan" method="post"
                  style="height: 50% ;width: 100% ; border: #20c997 ; child-align: auto ; ">
                <tr style="height: 100% ;width: 100% ; border: #20c997 ; ">
                    <td height="40%" width="50%">
                        <input type="submit" id="byself" value="我帮你"
                               style="color: #20c997; width: 200px; height: 100px; font-size: 50px "/>
                    </td>
                </tr>
            </form>

        </div>
        <div>
            <tr style="height: 50px">
            </tr>
        </div>
    </div>
</table>

<footer>
    <div style="font-size: 30px; color: #bd2130">
        温馨提示：如果您实在不知道吃啥好，最好的方式是将您的饭钱转给网站管理员，管理员将为您妥善管理您的巨款。<br/>

    </div>
</footer>

<script>


</script>
</body>
</html>