<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我是大坝啊</title>
</head>
<body>
<span>
      嘘寒问暖，不如打笔巨款。
  </span>

<br/>
<img src="/img/1.jpg">
<div>


</div>
<div>
    <form action="/choose" method="post" style="height: 50% ;width: 100% ; border: #20c997 ; child-align: auto ; ">
        <tr style="height: 100% ;width: 100% ; border: #20c997 ; ">
            <td>
                这里有个小功能，你可以用来选择
                <input type="submit" id="byhelp" value="吃啥"/>
            </td>
        </tr>

    </form>
</div>
<div>

</div>
<div>

</div>
<div>

</div>
<div>

</div>
<div>

</div>
<div>

</div>
<div id="footer" class="footer">
    <span>工信部备案： 鲁ICP备20004625号</span></a>
</div>

</body>
<script>



</script>

</html>